.App {
  text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}

header{
  display: flex;
  justify-content: center;
  column-gap: 7%;
  border-bottom: 5px solid black;
}

header h2{
  border: 2px solid black;
  padding: 10px;
}

.parent {
  background-color: #daeaf6;
}

.child {
  background-color: #d1cfe2;
}

.grandchild {
  background-color: #d4afb9;
}

.exampleOne{
  width:50vw;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 3vh;
}

.exampleTwo{
  width:50vw;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 3vh;
}

.exampleThree{
    width:50vw;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}